.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-bar {
  display: flex;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-select,
.input-submit {
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 24px;
  padding: 30px 20px;
  /*flex: 1 200px;*/
  min-width: 200px;
  max-width: 200px;
}

.input-select:hover,
.input-submit:hover {
  cursor: pointer;
}

.input-select::after {
  content: "\25BC";
  margin-left: 20px;
}

.input-submit {
  background-color: green;
  color: white;
}

.input-select:nth-child(1) .input-option {
  margin-left: -20px;
}

.input-select:nth-child(2) .input-option {
  margin-left: -220px;
}

.input-select:nth-child(3) .input-option {
  margin-left: -420px;
}

.input-option {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid gray;
  top: 100px;
  width: 600px;
  padding: 5px;
  cursor: auto;
}

.input-option h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.input-option ul {
  list-style-type: none;
  padding-left: 0px;
}

.input-option li {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: left;
  padding: 10px 5px;
}

.selected::before {
  content: "\2713";
  font-size: 24px;
  font-weight: 600;
  margin-right: 5px;
  color: green;
}

.input-option li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.order-display {
  width: 800px;
  box-sizing: border-box;
  padding: 20px 0px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}













